<h1><font color="white"> Update Your Product: </font></h1>

<%= form_tag "/products/#{@product.id}", method: :patch do %>

	<div><font color="#5333F7">
	  <%= label_tag :name %>
	  <%= text_field_tag :name, @product.name %>
	</font></div>

	<div><font color="#5333F7">
	  <%= label_tag :price %>
	  <%= text_field_tag :price, @product.price %>
	</font></div>

	<div><font color="#5333F7">
	  <%= label_tag :image %>
	  <%= text_field_tag :image, @product.image %>
	</font></div>

	<div><font color="#5333F7">
	  <%= label_tag :description %>
	  <%= text_field_tag :description, @product.description %>
	</font></div>

	<%= submit_tag "Update this Product" %>

	<% end %>