<font color="white"><h1>Add a new product:</h1></font>

<%= form_tag '/products', method: :post do %>
	<div> 
	<font color="white"><%= label_tag :name %></font>
	<font color="white"><%= text_field_tag :name %></font>
	 </div>

	 <div> 
	<font color="white"><%= label_tag :price %></font>
	<font color="white"><%= text_field_tag :price %></font>
	 </div>
	 <div> 
	<font color="white"><%= label_tag :image %></font>
	<font color="white"><%= text_field_tag :image %></font>
	 </div>
	 <div> 
	<font color="white"><%= label_tag :description %></font>
	<font color="white"><%= text_field_tag :description %></font>
	 </div>

	 <%= submit_tag "PUNCH IT!" %>

	 <% end %>