<font color="white"><h1>Add A New Product:</h1></font>

<%= form_tag '/products', method: :post do %>
	<div> 
	<font color="#5333F7"><%= label_tag :name %></font>
	<font color="#5333F7"><%= text_field_tag :name %></font>
	 </div>

	 <div> 
	<font color="#5333F7"><%= label_tag :price %></font>
	<font color="#5333F7"><%= text_field_tag :price %></font>
	 </div>
	 <div> 
	<font color="#5333F7"><%= label_tag :image %></font>
	<font color="#5333F7"><%= text_field_tag :image %></font>
	 </div>
	 <div> 
	<font color="#5333F7"><%= label_tag :description %></font>
	<font color="#5333F7"><%= text_field_tag :description %></font>
	 </div>

	 <%= submit_tag "PUNCH IT!" %>

	 <% end %>