<h1><font color="white"><%= @product.name %></font></h3>
<h2><font color="white"><%= @product.price %></font></h3>
<img src="<%= @product.image %>"></h3>
<h3><font color="white"><%= @product.description %></font></h3>

<%= link_to "Home", "/products" %>